.receipt_item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.number {
    margin-right: 10px;
}
.name {
    flex-grow: 1;
}
.quantity_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100px;
}
.btn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: rgba(2, 156, 167, 0.564);
    }
}
.quantity {
}
.quantity_list {
    text-align: center;
}
.summ {
    flex-basis: 100px;
    text-align: center;
    margin-left: 20px;
}
