.receipt_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
}
.text {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
}
.receipt_list {
    flex-grow: 1;
    overflow: scroll;
}
.receipt_item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.number {
    margin-right: 10px;
}
.name {
    flex-grow: 1;
}

.quantity {
    text-align: center;
    flex-basis: 100px;
}

.summ {
    flex-basis: 150px;
    text-align: center;
}
.receipt_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding: 10px;
}
.summ {
    font-weight: 700;
}

.btn {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
