.receipt_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    border: solid gray;
    border-top: none;
}
.header {
    min-height: 60px;
    background-color: #029ca7;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 10px;
}

.additional_info {
    margin-left: 10px;
}
.receipt_number {
    color: #fff;
    font-weight: 600;
}
.receipt_date {
    color: rgba(255, 255, 255, 0.7);
}
.text {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
    line-height: 1.5;
}
.receipt_list {
    flex-grow: 1;
    overflow: scroll;
}
.receipt_item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.number {
    margin-right: 10px;
}
.name {
    flex-grow: 1;
}

.quantity {
    text-align: center;
    flex-basis: 100px;
}

.summ {
    flex-basis: 150px;
    text-align: center;
}
.receipt_info_box {
    padding: 10px;
}
.receipt_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0291db;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.total {
    font-weight: 700;
    font-size: 18px;
}

.btn {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #0fa701;
    border-style: none;
    border: 2px solid rgb(19, 101, 38);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
